[submodule "riotam-chrome-integration"]
	path = riotam-chrome-integration
	url = https://github.com/HendrikVE/riotam-chrome-integration
[submodule "riotam-backend"]
	path = riotam-backend
	url = https://github.com/HendrikVE/riotam-backend
[submodule "riotam-website"]
	path = riotam-website
	url = https://github.com/HendrikVE/riotam-website
