[submodule "Website-for-RIOT-App-Market"]
	path = Website-for-RIOT-App-Market
	url = https://github.com/HendrikVE/Website-for-RIOT-App-Market
[submodule "Google-Chrome-Extension-and-Native-Messaging-Host-for-RIOT-App-Market"]
	path = Google-Chrome-Extension-and-Native-Messaging-Host-for-RIOT-App-Market
	url = https://github.com/HendrikVE/Google-Chrome-Extension-and-Native-Messaging-Host-for-RIOT-App-Market
[submodule "Server-Environment-for-RIOT-App-Market"]
	path = Server-Environment-for-RIOT-App-Market
	url = https://github.com/HendrikVE/Server-Environment-for-RIOT-App-Market
